{% extends "base.html" %}

{% block title %}Classification Output{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Classification Result</h1>
            <p class="mb-0">The classification result of this lung image detected {{result.model_accuracy}}% {{result.lung_type}}.</p>
            <!--button class="btn btn-primary">View Badges</button-->
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="row-mt-8 mt-4">
                <div class="card border border-2 border-success shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Diagnosed Result : <b>{{result.lung_type}}</b></h5>
                        <p>Classification Method : {{result.process_method}}</p>
                        <p class="card-text"></p>
                        {% if result.model_accuracy < 50 %}
                        <a>Accuracy: </a>
                        <a style="color:red;">{{result.model_accuracy}}%</a>
                        {% else %}
                        <a>Accuracy: </a>
                        <a class="text-success">{{result.model_accuracy}}%</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row-mt-8 mt-4">
                <div class="card border border-2 border-success shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-bottom:0;">Pre-Processing Methods : <b>{{result.preprocess_method}}</b></h5>
                    </div>
                </div>
            </div>
            <div class="row-mt-8 mt-2">
                <div class="card border border-2 border-success shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-bottom:0;">Cross-Validation Methods : <b>{{result.cross_validation_method}}</b></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border border-2 border-success shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row-mt-8 mt-2">
                        <div class="card border border-2 border-success shadow-sm">
                            <div class="card-body">
                                <h3><b>BEFORE PREPROCESS</b></h3>
                                <img src="{{ url_for('serve_predict_image', filename=result.image_before) }}" alt="Image Before Preprocess" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row-mt-8 mt-2">
                        <div class="card border border-2 border-success shadow-sm">
                            <div class="card-body">
                                <h3><b>AFTER PREPROCESS</b></h3>
                                <img src="{{ url_for('serve_preprocessed_image', filename=result.image_after) }}" alt="Image After Preprocess" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
